{{#partial "body"}}
    <h1>VPS App</h1>    
    <form method="post" action="/login">
        <div class="language">
            <label for="">Username</label>
            <div>
                <input type="text" name="username">
            </div>
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
    </form>
{{/partial}}

{{> layout.hbs }}